/* STYLES */

body {
	  background-color: white ;
	  font-family: 'Texturina', serif;
	}
#nav{
	background-color: #869E7C;
}
  /* All cards needed padding */
.card{
      padding: 5%;
    }
.extended-content-container{
  text-align: center;
}
.container{
	text-align: center;
  }
  

/* Footer */

.footer-copyright{
  letter-spacing: 8px;
}
