/* STYLES */

body {
	  background-color: white ;
	  font-family: 'Texturina', serif;
    }
    /* All cards needed padding */
.card{
      padding: 7%;
    }
.extended-content-container{
  text-align: center;
}

/* Footer */

.footer-copyright{
  letter-spacing: 8px;
}
